//2nd block starts here...
//$secondary-color: #f1f1f1;

.filter__options{
  padding: 5px 20px;
  background-color: $secondary-color;
  color: #737373;
  border-radius: 5px;
  border: 1px solid #e1e1e1;

  .select__wrapper{
    position: relative;
    select {
      width: 250px;
      text-indent: 5px;
      padding:0 5px;
      margin: 0 15px;
      display: inline-block;
      box-shadow: none;
      color:#898989;
      -moz-appearance:none;
      -webkit-appearance:none;
      appearance:none;
    }
    .select__floater{
      position: absolute;
      top: 0%;
      right: 13%;
      color: #898989;
    }
  }

  .filter__options--credits{
    border-left: 1px solid #e2e2e2;
    padding: 10px;
  }
}
