//1st block starts here...

.header__wrapper{
  margin: 30px 0 15px 0;
  @include display-flex-center(center, flex-start);

  .brand__header {
    color:#484848;
    font-size: 1.6em;
    padding-left: 0;

    .brand__name{
      color: #484848;
      font-weight: 700;
      margin-right: 10px;
    }

    .credits__left{
      color:#8c8c8c;
      font-size: .6em;
      top: -3px;
      position: relative;
    }

    .credits__highlight{
      background-color: #d23859;
      padding: 5px;
      border-radius: 50%;
      color: #fff;
      font-weight: normal;
    }
    .credits__text{
      top: 1px;
      position: relative;
    }
  }
}
.progress__status{
  padding: 0;

  .progress{
    width: 200px;
    height: 16px;
    background-color: #fff;
    padding: 0;
    margin: 0 10px 0 0;
    border: 1px solid #e6e6e6;
    box-shadow: none;
    float: right;
    .progress-bar{
      background-color: #81c320;
    }
  }
  .progress__text{
    float: right;
    .progress__highlight{
      color:#43820e;
      font-weight:bold
    }
  }
}
