
//3rd block starts here...

.slot__availability--years{
  margin: 24px 0;

  .year__stack{
    border-radius: 5px;
    padding: 0;

    .year__stack--header{
      background: $secondary-color;
      padding: 5px 10px 10px 10px;
      margin-top:1px;
      h4{
        margin-bottom: 0;
      }
    }
    .year__stack--normal{
      background: transparent;
      padding: 5px 10px 12px 10px;

      h4{
        margin-bottom: 0;
      }
    }

    ul{
      padding: 0;
      margin: 0 5px;
      li{
        margin:5px;
        padding-left: 20px;
        border-radius: 5px;
        position: relative;
        min-height: 53px;

        .subject__status{
          width:10px;
          height: 100%;
          position: absolute;
          background-color: #90c043;
          left: -1px;
          top: 0;
          @include border-radius(5px, 0 ,5px, 0);
        }
        .subject__code{
          color: #347aaa;
        }
        .subject__information--alert{
          position: absolute;
          top:20%;
          right:5%;
          i{
            color: $info-alert-bg;
            font-size: 1.2em;
          }
        }
      }
      .slots{
        border: 1px dashed #b9b9b9;
        color:#b9b9b9;
        @include display-flex-center(center, flex-start);
      }
      .occupy__slots{
        padding-left: 65px;
        position: relative;

        .button__add{
          height: 100%;
          position: absolute;
          left:0;
          top:0;
          background: #54adda;
          @include display-flex-center(center, center);
          @include border-radius(5px, 0, 5px, 0);
          button{
            background-color: transparent;
            color: #fff;
            height: 100%;
            width: 40px;
            border: 0;
            font-size: 1.5em;
          }
        }
        .subject__name{
          color: #347aaa;
        }
        .subject__credit--info{
          color: #b9b9b9;

        }
      }
    }
  }
  .active__stack {
    border: 1px solid #cccccc;
  }
  .button__submit{
    background-color: $button-bg;
    margin-top: 15px;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include border-radius(0, 0, 5px, 5px);
    button{
      border-radius: 5px;
      border: 1px inset #1fa7d8;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  .year__name{
    color:#484848;
  }
  .credits__info{
    color: #767676;
  }
  .subject__name{
    font-size: 12px;
  }
  .subject__credit--info{
    font-size:10px;
    color: #b9b9b9;
  }
}

.app-width{
  width:79%;
}
.left{
  float: left;
}
.right {
  float: right;
}