.header__wrapper {
  margin: 30px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__wrapper .brand__header {
  color: #484848;
  font-size: 1.6em;
  padding-left: 0;
}
.header__wrapper .brand__header .brand__name {
  color: #484848;
  font-weight: 700;
  margin-right: 10px;
}
.header__wrapper .brand__header .credits__left {
  color: #8c8c8c;
  font-size: 0.6em;
  top: -3px;
  position: relative;
}
.header__wrapper .brand__header .credits__highlight {
  background-color: #d23859;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  font-weight: normal;
}
.header__wrapper .brand__header .credits__text {
  top: 1px;
  position: relative;
}

.progress__status {
  padding: 0;
}
.progress__status .progress {
  width: 200px;
  height: 16px;
  background-color: #fff;
  padding: 0;
  margin: 0 10px 0 0;
  border: 1px solid #e6e6e6;
  box-shadow: none;
  float: right;
}
.progress__status .progress .progress-bar {
  background-color: #81c320;
}
.progress__status .progress__text {
  float: right;
}
.progress__status .progress__text .progress__highlight {
  color: #43820e;
  font-weight: bold;
}

.filter__options {
  padding: 5px 20px;
  background-color: #f1f1f1;
  color: #737373;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
.filter__options .select__wrapper {
  position: relative;
}
.filter__options .select__wrapper select {
  width: 250px;
  text-indent: 5px;
  padding: 0 5px;
  margin: 0 15px;
  display: inline-block;
  box-shadow: none;
  color: #898989;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.filter__options .select__wrapper .select__floater {
  position: absolute;
  top: 0%;
  right: 13%;
  color: #898989;
}
.filter__options .filter__options--credits {
  border-left: 1px solid #e2e2e2;
  padding: 10px;
}

.slot__availability--years {
  margin: 24px 0;
}
.slot__availability--years .year__stack {
  border-radius: 5px;
  padding: 0;
}
.slot__availability--years .year__stack .year__stack--header {
  background: #f1f1f1;
  padding: 5px 10px 10px 10px;
  margin-top: 1px;
}
.slot__availability--years .year__stack .year__stack--header h4 {
  margin-bottom: 0;
}
.slot__availability--years .year__stack .year__stack--normal {
  background: transparent;
  padding: 5px 10px 12px 10px;
}
.slot__availability--years .year__stack .year__stack--normal h4 {
  margin-bottom: 0;
}
.slot__availability--years .year__stack ul {
  padding: 0;
  margin: 0 5px;
}
.slot__availability--years .year__stack ul li {
  margin: 5px;
  padding-left: 20px;
  border-radius: 5px;
  position: relative;
  min-height: 53px;
}
.slot__availability--years .year__stack ul li .subject__status {
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: #90c043;
  left: -1px;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
.slot__availability--years .year__stack ul li .subject__code {
  color: #347aaa;
}
.slot__availability--years .year__stack ul li .subject__information--alert {
  position: absolute;
  top: 20%;
  right: 5%;
}
.slot__availability--years .year__stack ul li .subject__information--alert i {
  color: #fe456c;
  font-size: 1.2em;
}
.slot__availability--years .year__stack ul .slots {
  border: 1px dashed #b9b9b9;
  color: #b9b9b9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.slot__availability--years .year__stack ul .occupy__slots {
  padding-left: 65px;
  position: relative;
}
.slot__availability--years .year__stack ul .occupy__slots .button__add {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #54adda;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
.slot__availability--years .year__stack ul .occupy__slots .button__add button {
  background-color: transparent;
  color: #fff;
  height: 100%;
  width: 40px;
  border: 0;
  font-size: 1.5em;
}
.slot__availability--years .year__stack ul .occupy__slots .subject__name {
  color: #347aaa;
}
.slot__availability--years .year__stack ul .occupy__slots .subject__credit--info {
  color: #b9b9b9;
}
.slot__availability--years .active__stack {
  border: 1px solid #cccccc;
}
.slot__availability--years .button__submit {
  background-color: #25afdf;
  margin-top: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.slot__availability--years .button__submit button {
  border-radius: 5px;
  border: 1px inset #1fa7d8;
  padding: 10px;
  box-sizing: border-box;
}
.slot__availability--years .year__name {
  color: #484848;
}
.slot__availability--years .credits__info {
  color: #767676;
}
.slot__availability--years .subject__name {
  font-size: 12px;
}
.slot__availability--years .subject__credit--info {
  font-size: 10px;
  color: #b9b9b9;
}

.app-width {
  width: 79%;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  background-color: #fafafa;
  outline: 0;
}

/*# sourceMappingURL=style.css.map */
