// common variables
$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #f1f1f1;
$button-bg: #25afdf;
$info-alert-bg: #fe456c;

// mixins
@mixin border-radius ($topLeft, $topRight, $bottomLeft, $bottomRight) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}

@mixin display-flex-center($alignItems, $justifyContent) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@import 'header';
@import "filter";
@import "slots";

body {
  background-color: #fafafa;
  //font-family: $font-stack;
  outline: 0;
}